.sensor-alarm-icon {
  color: #FF7A59;
  font-size: 30px;
  cursor: pointer;
}

.custom-overlay {
  background: rgba(51, 50, 50, .7) !important;
}
.custom-modal {
  background: #1C1B1B !important;
  max-width: 500px !important;
  width: 100%;
}
