.time-left-text_short {
  line-height: 70px;
  text-align: center;
  font-size: 30px;
  animation: wiggle 3s infinite;
}

.time-left-text_long {
  line-height: 70px;
  text-align: center;
  font-size: 30px;
}
