.left-container {
  height: 130px;
}

.right-container {
  height: 130px;
}

.bottom-container {
  line-height: 50px;
  margin-top: 4px;
  display: flex;
}

.bottom-container_right {
  line-height: 40px;
  margin-top: 4px;
  width: 50%;
  text-align: right;
}

.bottom-container_left {
  line-height: 50px;
  margin-left: 8px;
  width: 50%;
}

.alarm-icon_inactive {
  color: white;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .right-container {
    padding-left: 10px;
  }
}
