.component-card {
  background-color: gray;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 200px;
}

.component-card-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
