.bulblist-container {
  position: relative;
  overflow: hidden;
}

.bulblist-grupname {
  cursor: pointer;
}

.status-icon_on::before {
  background-color: #18D8F0;
}

.status-icon_off::before {
  background-color: #FF1493;
}
