{
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "global-require": 0,
    "new-cap": [2, {"capIsNew": false, "newIsCap": true}],
    "no-class-assign": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "import/imports-first": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/html-has-lang": 0,
    "no-confusing-arrow": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 0,
    "class-methods-use-this": 0,
    "arrow-parens": ["error", "as-needed"],
    "no-console": 1,
    "comma-dangle": "off",
    "no-unused-expressions": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/prefer-default-export": "off",
    "no-return-assign": 0,
    "semi": ["error", "never"]
  }
}
