@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  height: 100%;
  background-color: #1C1B1B;
  color: #EBF5EE;
}

.loading-text {
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}

.content-area {
  height: 100%;
}

.box-dark {
  background-color: #333232;;
  border: 1px solid #333232;;
  border-radius: 4px;
  color: #EBF5EE;
}

.box-light {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #000000;
}

.col-wrapper {
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 4px;
  color: #EBF5EE;
  height: 200px;
  padding: 10px;
  margin-left: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.row-style {
  margin-left: 6px !important;
  margin-top: 6px;
}

.col-without-row-style {
  padding: 4px !important;
}

.name {
  font-size: 18px;
  font-weight: 300;
  margin-top: 8px;
}

.desc {
  font-size: 16px;
  margin-top: 24px;
}

.generic-wrapper {
  font-size: 14px;
  font-weight: 300;
  line-height: 4px;
}

/* buttons */
.btn {
  position: relative;
  cursor: pointer;
  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #EBF5EE;
  color: #1C1B1B;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #FF1493;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}

.chart-svg {
  border-radius: 4px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #EBF5EE;
  color: rgb(28, 27, 27);
  text-align: left;
  border-radius: 6px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 0 8px 0 8px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 44%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #EBF5EE transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.toggle {
  text-decoration: none;
  font-size: 2em;
  color: #FFFFFF;
  position: fixed;
  top: 4px;
  left: 4px;
  cursor: pointer;
  z-index: 101;
  background: #333232;
  width: 30px;
  height: 30px;
  padding-right: 4px;
  line-height: 0px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -70px;
  width: 70px;
  background: #333232;
  z-index: 100;
  animation: animateMenuOut .5s;
  -moz-animation: animateMenuOut .5s;
  -webkit-animation: animateMenuOut .5s;
}

#slide:checked + .container-sidebar .sidebar {
  left: 0px;
  animation: animateMenuIn .5s;
  -moz-animation: animateMenuIn .5s;
  -webkit-animation: animateMenuIn .5s;
}

#slide:checked + .container-sidebar {
  left: 200px;
}

#slide:checked + .container-sidebar .toggle {
  top: 28px;
  left: 16px;
}

#slide {
  display: none;
}

@keyframes animateMenuIn {
  from { left: -70px; }
  to { left: 0px; }
}

@keyframes animateMenuOut {
  from { left: 0px; }
  to { left: -70px; }
}

.toggle-grow {
  transition: all .2s ease-in-out;
}

.toggle-grow:hover {
  transform: scale(1.5);
}

@media only screen and (max-width: 600px) {
  .col-wrapper {
    margin-top: 8px;
  }

  .row-style {
    margin-top: 0 !important;
  }

  .col-without-row-style {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
