.icon-bar {
  margin-top:84px;
  width: 70px;
  background-color: #333232;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #EBF5EE;
  font-size: 36px;
}

.icon-bar a:hover {
  color: #18D8F0;
}

.nav-link {
  border-right: 4px solid #333333;
}

.nav-link-active {
  border-right: 4px solid #FF1493;
}
