.icon-bar {
  width: 70px; /* Set a specific width */
  background-color: #333232; /* Dark-grey background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: #EBF5EE; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  color: #18D8F0;
}

.nav-link {
  border-right: 4px solid #333333;
}

.nav-link-active {
  border-right: 4px solid #FF1493;
}
