.sonarr-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.sonarr-seriename {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sonarr-list {
  margin-bottom: 10px !important;
}

.sonarr-serieinfo {
  margin-top: 6px;
  line-height: 10px;
}
